@import "all_mixing/media/screen";
@import "all_mixing/font/font_family";
@import "all_mixing/color/colors";

body{
  padding:0;
  margin:0;
}


.modal{
  .modal-dialog{
    max-width: 360px;
    @include breakpoints(medium) {
       max-width: 360px;
    }
    @include breakpoints(nokia) {
       max-width: 100%;
    }
    @include breakpoints(sm) {
      max-width: 100%;
      align-items: flex-start !important;
    }
  }
  .modal-content{
    border-radius:15px;
    box-shadow: 0 10px 20px 0 rgba(0 ,0 ,0 ,10%);
    border:none;
    .modal-body{
      padding: 20px 15px;
      overflow: hidden;
      p{
        font-size: 14px;
      }
      form{
        .all{
          display: flex;
          align-items:center;
          justify-content: space-between;
          .soso{
            width: 48.5%;
            position: relative;
            img{
              position: absolute;
              width: 40px;
              right: 10px;
              top: 11px;
            }
          }
        }
        .all{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .colab{
            width:48.5%;
          }
          .cola{
            width: 49%;
            @include breakpoints(mobile) {
              width: 100%;
            }
          }
          .scoda{
            width: 74.5%;
            @include breakpoints(mobile) {
              width: 100%;
            }
          }
        }
        .form-group{
          position:relative;
        }
        .form-group input{
          font-size: 15px;
          padding: 0 0.84118rem 0;
          outline:none ;
          background:#fff;
          border:1px solid #949494;
          width:100%;
          border-bottom:1px solid #FFCD00;
          border-radius: 5px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          height:55px;
          color: #999;
          background: #f3f2f2;
          &:hover{
            border-bottom:2px solid #ffcd00;
          }
        }
        .form-group input:focus{
          box-shadow:none;
          border-color:#949494;
          border-bottom:2px solid #002e6d;
          background:#fff;
        }
        .form-group label{
          pointer-events:none;
          font-size:15px;
          padding-top: 0;
          color:#707070 ;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-weight: 500;
          margin-bottom:4px;
          img{
            width: 150px;
          }
          &.lala{
            justify-content: start;
          }
          span{
            display: block;
            background: #002e6d;
            border-radius:100%;
            font-size: 16px;
            font-weight: 700;
            width: 19px;
            height: 19px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left:5px;
          }
        }
        .btn{
          padding:14px 15px;
          margin-top: 5px;
          color:$blue;
          background: $yellow;
          font-weight: 600;
          border-color:#b38f00;
          width: 100%;
          text-transform: uppercase;
          font-weight:700;
          font-size: 17px;
          border-radius: 8px;
          &:hover{
            background: #DBB000;
          }
          &:focus{
            box-shadow: none;
          }
          @include breakpoints(xs) {
            width: 100%;
          }
          &.xx{
            border:1px solid #002e6d;
            background: white;
            transition: 0.2s;
            &:hover{
              background: #cbcbcb !important;
            }
          }
        }
      }
    }
    .modal-header{
      display: flex;
      justify-content: space-between;
    }
  }
}


.container{
  max-width: 1343px;
}

.navbar{
  height: 88px;
  padding-left:20px;
  padding-right:20px;
  border-top:8px solid $yellow;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  left:0;
  right: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999;
  @include breakpoints(lg) {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
  @include breakpoints(xs) {
    padding-left:0px;
    padding-right:0px;
  }
  .left{
    .logo{
      margin-right: 30px;
      @include breakpoints(lg) {
        height: 40px;
        height: 40px;
        margin-right: 20px;
      }
      @include breakpoints(sm) {
        height: 30px;
        height: 30px;
      }
    }
    ul{
      border-left: 1px solid #ccc;
      padding:3px 10px 3px 10px;
      @include breakpoints(lg) {
        padding:0px 10px 0px 10px;
      }
      li{
        margin-right:30px;
        padding:10px  5px;
        color: $blue_light;
        font-weight: 600;
        cursor: pointer;
        @include breakpoints(lg) {
          padding:6px  5px;
        }
        &.active{
          font-weight: 700;
          border-bottom:1px solid $blue;
        }
        &.box{
          @include breakpoints(sm) {
            display: none;
          }
        }
      }
    }
  }
  .center{
    @include breakpoints(lg) {
      display: none;
    }
  }
  .right{
    color: $blue_light;
    font-weight:700;
    display: flex;
    align-items: center;
    span{
      display:flex;
      margin-left:15px;
      @include breakpoints(lg) {
        display: none;
      }
    }
    .line{
      height:30px;
      width: 1px;
      background: #ccc;
      margin: 0 10px;
      display: none;
      @include breakpoints(lg) {
        display: flex;
      }
    }
    .search{
      display: none;
      @include breakpoints(lg) {
        display: block;
      }
    }
  }
}

main{
  margin-top: 88px;
  padding-bottom:50px;
  position: relative;
  @include breakpoints(lg) {
    margin-top: 55px;
  }
  @include breakpoints(mobile) {
    margin-top: 60px;
  }
  .yellow{
    position: absolute;
    z-index: -1;
    background: #FFCD00;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    right:0;
    border-bottom-right-radius:150%;
    border-bottom-left-radius:150%;
    border-bottom-radius:150%;
  }
  .title{
    margin-bottom: 30px;
    margin:0 auto;
    max-width:900px;
    margin-top: 130px;
    @include breakpoints(mobile) {
      padding-left:15px;
      padding-right:15px;
    }
    h1{
      font-weight:400;
      color: $blue;
      border-bottom:3px solid $yellow;
      display: flex;
      padding-bottom:7px;
    }
  }
  .track{
    margin:0 auto;
    max-width:500px;
    padding:20px;
    background: white;
    border-radius:7px;
    position: relative;
    margin-bottom:20px;
    .old{
      display: flex;
      align-items: start;
      p{
        margin:0;
        line-height: 20px;
        color: #333333;
        margin-left: 10px;
      }
    }
  }
  .login{
    margin:0 auto;
    max-width:500px;
    padding:30px;
    background: white;
    border-radius:7px;
    position: relative;
    @include breakpoints(mobile) {
      padding: 30px 15px;
    }
    .steps{
      display: flex;
      flex-direction: column;
      ul{
        width: 100%;
        li{
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            margin-bottom: 0;
            font-size:13px;          }
        }
      }
    }
    .loading{
      display:flex;
      position: absolute;
      justify-content:center;
      align-items:center;
      z-index:11111;
      background: rgba(252,252,252,0.7);
      left:0;
      right:0;
      bottom: 0;
      top: 0;
      .spinner-border{
        color:#FFC905;
      }
      .allow{
        font-size:14px;
        margin:0 auto;
        color:rgba(0,0,0,0.8);
      }
    }
    &.dodg{
       background: white;
       max-width: 900px;
    }
    &.shadow{
      @include breakpoints(mobile) {
       box-shadow: none;
      }
    }
    .steps{
      width:100%;
      display:flex;
      justify-content:space-between;
      margin-bottom: 40px;
      span{
        width:33%;
        background:#ccc;
        height:4px;
        &.green{
          background:#2FCC71;
        }
        &.yellow{
          position: relative;
          div{
            background:#FFCC00;
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            color: white;
            border:5px solid #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 14px;
            right: -14px;
            top: -14px;
          }
        }
      }
    }
    .nada{
      background: #C3E4EB;
      padding: 15px;
      border-radius: 5px;
      li{
        font-size:15px;
        font-weight: 600;
        color:#052C65;;
      }
    }
    a{
      .btn{
        padding:10px 15px;
        margin-top: 30px;
        color:$blue;
        background: $yellow;
        font-weight: 600;
        border-color:#b38f00;
        &:focus{
          box-shadow: none;
        }
      }
    }
    // START___FORM
    form{
      .all{
        display: flex;
        align-items:center;
        justify-content: space-between;
        .soso{
          width: 48.5%;
          position: relative;
          img{
            position: absolute;
            width: 40px;
            right: 10px;
            top: 11px;
          }
        }
      }
      .spopo{
        position: relative;
        img{
          position: absolute;
          right: 10px;
          top: 7px;
        }
      }
      .all{
        display: flex;
        justify-content: space-between;
        @include breakpoints(mobile) {
          display: block;
        }
        .colab{
          width: 23.5%;
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
        .cola{
          width: 49%;
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
        .scoda{
          width: 74.5%;
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
      }
      .form-group{
        position:relative;
      }
      .form-group input{
        font-size: 15px;
        padding: 1.05882rem 0.84118rem 0;
        outline:none ;
        background:#fff;
        border:1px solid #949494;
        width:100%;
        border-bottom:1px solid #FFCD00;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        height:55px;
        color: #999;
        &:hover{
          border-bottom:2px solid #ffcd00;
        }
      }
      select{
        font-size: 15px;
        outline:none ;
        border:1px solid #949494;
        width:100%;
        border-bottom:1px solid #FFCD00;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        height:55px;
        color: #999;
      }
      .form-group input:focus{
        box-shadow:none;
        border-color:#949494;
        border-bottom:2px solid #002e6d;
        background:#fff;
      }
      .form-group label{
        position:absolute;
        top: 15px;
        left: 0.84118rem;
        pointer-events:none;
        transition: .3s;
        font-size:16px;
        padding-top: 0;
        color:#86868b ;
      }
      .form-group input:focus ~ label,
      .form-group input:valid ~ label{
        top: 6px;
        left: 0.84118rem;
        font-size: 12px;
        color:#002e6d;
        font-weight: 500;
      }
      .btn{
        padding:10px 15px;
        margin-top: 30px;
        color:$blue;
        background: $yellow;
        font-weight: 600;
        border-color:#b38f00;
        &:focus{
          box-shadow: none;
        }
        @include breakpoints(xs) {
          width: 100%;
        }
      }
    }
  }
  .btns{
    margin:0 auto;
    max-width:900px;
    border-radius:7px;
    position: relative;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include breakpoints(sm) {
      flex-direction: column;
    }
    a{
      font-weight: 700;
      text-decoration: none;
      color:rgb(0,43,103);
      order:1;
      @include breakpoints(sm) {
        order: 2;
      }
    }
    .btn{
      order:2;
      padding:10px 15px;
      margin-top: 30px;
      color:$blue;
      background: $yellow;
      font-weight: 600;
      border-color:#b38f00;
      margin-bottom:20px;
      @include breakpoints(sm) {
        order: 1;
      }
      &:focus{
        box-shadow: none;
      }
      @include breakpoints(xs) {
        width: 100%;
      }
    }
  }
}

.fotter{
  padding: 0 10px;
  padding-top:60px;
  .xx{
    ul{
      li{
        color: $blue;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
        &.dd{
          @include breakpoints(medium) {
            display: none;
          }
        }
        &.ss{
          @include breakpoints(medium) {
            margin-top: 20px;
          }
        }
        &.active{
          font-size: 26px;
          color: black;
          font-weight: 400;
          color: rgba(0,0,0,0.9);
          cursor: text;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @include breakpoints(medium) {
            font-size: 18px;
            border-bottom: 1px solid #ccc;
            padding:15px 0;
            margin-bottom: 0;
            font-weight: 600;
            color: rgba(0,0,0,0.8);
          }
          .cask{
            @include breakpoints(medium) {
              width: 25px;
            }
          }
          img{
            display: none;
            @include breakpoints(medium) {
              display: block;
            }
          }
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .imgs{
    flex-wrap: wrap;
    img{
      margin-right: 15px;
    }
  }
  .acht{
    ul{
      li{
        width: 56px;
        height: 32px;
        border-radius: 4px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        border: 1px solid #CBCBCB;
      }
    }
  }
}

.fot{
  background: #333333;
  padding: 20px;
  @include breakpoints(mobile) {
    padding: 20px 10px;
  }
  .container{
    display: flex;
    align-items: center;
    @include breakpoints(medium) {
      display: block;
    }
    .asd{
      margin-left:40px;
      @include breakpoints(medium) {
        margin-top:30px;
        margin-left:0px;
      }
      p{
        margin-bottom: 0;
        color: #cbcbcb;
        font-size: 14px;
        @include breakpoints(medium) {
          font-size: 12px;
        }
      }
      ul{
        color: white;
        margin-bottom:0;
        @include breakpoints(medium) {
          display: block;
        }
        li{
          margin-right:40px;
          margin-bottom:20px;
          @include breakpoints(medium) {
            font-size: 12px;
            margin-bottom:15px;
          }
        }
      }
    }
  }
}


.facture{
  margin-top:120px;
  margin-bottom:100px;
  h2{
    font-weight:300;
    color: $blue;
    display: flex;
    padding-bottom:7px;
  }
  .abcd{
    margin-left:30px;
    @include breakpoints(mobile) {
      margin-left:0;
    }
  }
  .active{
    @include breakpoints(mobile) {
      display: none;
    }
  }
  .information{
    padding:20px;
    @include breakpoints(mobile) {
      padding: 20px 0;
    }
    .apps{
      margin-top: 30px;
      small{
        font-weight: 700;
      }
      h5{
        font-weight:700;
      }
      ul{
        width: 100%;
        justify-content: space-between;
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding:15px;
          border-radius: 5px;
          border: 2px solid #002e6d;
          width: 48.5%;
          font-weight: 700;
          box-shadow: 0 0 10px rgba(62,61,61,0.1),0 0 5px rgba(62,61,61,0.1);
          color: #002E6D;
          @include breakpoints(mobile) {
            width: 100%;
          }
        }
      }
    }
    .fan{
      border:1px solid #002E6D;
      border-radius: 10px;
      margin-top:30px;
      overflow:hidden;
      .top{
        padding:10px 15px;
        background: #002E6D;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          color: white;
          font-size: 13px;
        }
      }
      .boy{
        padding:20px 50px;
        display: flex;
        align-items: center;
        @include breakpoints(medium) {
          display: block;
          padding:20px;
        }
        img{
          margin-right:20px;
            @include breakpoints(medium) {
            margin-bottom: 10px;
          }
        }
        .ono{
          display: flex;
          justify-content: space-between;
          span{
            max-width:80%;
            font-size:13px;
            line-height: 16px;
            font-weight: 700;
          }
        }
      }
    }
    .mask{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #ddd;
      width: 100%;
      padding-bottom: 2px;
      a{
        color: black;
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
  .payement{
    padding: 20px;
    @include breakpoints(mobile) {
      padding: 20px 0;
    }
    .top{
      padding:10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius:10px;
      border:1px solid #002E6D;
      img{
        width: 300px;
      }
    }
    .format{
      padding: 30px 20px;
      h5{
        font-weight:700;
      }
      ul{
        justify-content: space-between;
        li{
           font-weight:400;
           font-size: 14px;
           color: #333;
        }
      }
      .btn{
        color: #002e6d;
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;
        padding: 14px;
        box-sizing: border-box;
        border: 1px solid #b38f00;
        border-radius: 4px;
        background-color: #ffcd00;
        cursor: pointer;
        outline: none !important;
        box-shadow: none !important;
        text-transform: uppercase;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        &:hover{
          background: #DBB000;
        }
      }
    }
  }
}

.loading{
  display:flex;
  position: fixed;
  justify-content:center;
  align-items:center;
  z-index:11111;
  background: rgba(252,252,252,0.7);
  left:0;
  right:0;
  bottom: 0;
  top: 0;
  .spinner-border{
    color:#FFC905;
  }
  .allow{
    font-size:14px;
    margin:0 auto;
    color:rgba(0,0,0,0.8);
  }
}