@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");
body {
  padding: 0;
  margin: 0; }

.modal .modal-dialog {
  max-width: 360px; }
  @media (max-width: 991px) {
    .modal .modal-dialog {
      max-width: 360px; } }
  @media (max-width: 575px) {
    .modal .modal-dialog {
      max-width: 100%;
      align-items: flex-start !important; } }
.modal .modal-content {
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: none; }
  .modal .modal-content .modal-body {
    padding: 20px 15px;
    overflow: hidden; }
    .modal .modal-content .modal-body p {
      font-size: 14px; }
    .modal .modal-content .modal-body form .all {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .modal .modal-content .modal-body form .all .soso {
        width: 48.5%;
        position: relative; }
        .modal .modal-content .modal-body form .all .soso img {
          position: absolute;
          width: 40px;
          right: 10px;
          top: 11px; }
    .modal .modal-content .modal-body form .all {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .modal .modal-content .modal-body form .all .colab {
        width: 48.5%; }
      .modal .modal-content .modal-body form .all .cola {
        width: 49%; }
        @media (max-width: 767px) {
          .modal .modal-content .modal-body form .all .cola {
            width: 100%; } }
      .modal .modal-content .modal-body form .all .scoda {
        width: 74.5%; }
        @media (max-width: 767px) {
          .modal .modal-content .modal-body form .all .scoda {
            width: 100%; } }
    .modal .modal-content .modal-body form .form-group {
      position: relative; }
    .modal .modal-content .modal-body form .form-group input {
      font-size: 15px;
      padding: 0 0.84118rem 0;
      outline: none;
      background: #fff;
      border: 1px solid #949494;
      width: 100%;
      border-bottom: 1px solid #FFCD00;
      border-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 55px;
      color: #999;
      background: #f3f2f2; }
      .modal .modal-content .modal-body form .form-group input:hover {
        border-bottom: 2px solid #ffcd00; }
    .modal .modal-content .modal-body form .form-group input:focus {
      box-shadow: none;
      border-color: #949494;
      border-bottom: 2px solid #002e6d;
      background: #fff; }
    .modal .modal-content .modal-body form .form-group label {
      pointer-events: none;
      font-size: 15px;
      padding-top: 0;
      color: #707070;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 500;
      margin-bottom: 4px; }
      .modal .modal-content .modal-body form .form-group label img {
        width: 150px; }
      .modal .modal-content .modal-body form .form-group label.lala {
        justify-content: start; }
      .modal .modal-content .modal-body form .form-group label span {
        display: block;
        background: #002e6d;
        border-radius: 100%;
        font-size: 16px;
        font-weight: 700;
        width: 19px;
        height: 19px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px; }
    .modal .modal-content .modal-body form .btn {
      padding: 14px 15px;
      margin-top: 5px;
      color: #002E6D;
      background: #FFCD00;
      font-weight: 600;
      border-color: #b38f00;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 17px;
      border-radius: 8px; }
      .modal .modal-content .modal-body form .btn:hover {
        background: #DBB000; }
      .modal .modal-content .modal-body form .btn:focus {
        box-shadow: none; }
      @media (max-width: 400px) {
        .modal .modal-content .modal-body form .btn {
          width: 100%; } }
      .modal .modal-content .modal-body form .btn.xx {
        border: 1px solid #002e6d;
        background: white;
        transition: 0.2s; }
        .modal .modal-content .modal-body form .btn.xx:hover {
          background: #cbcbcb !important; }
  .modal .modal-content .modal-header {
    display: flex;
    justify-content: space-between; }

.container {
  max-width: 1343px; }

.navbar {
  height: 88px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 8px solid #FFCD00;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999; }
  @media (max-width: 1200px) {
    .navbar {
      height: 70px;
      padding-top: 0;
      padding-bottom: 0; } }
  @media (max-width: 400px) {
    .navbar {
      padding-left: 0px;
      padding-right: 0px; } }
  .navbar .left .logo {
    margin-right: 30px; }
    @media (max-width: 1200px) {
      .navbar .left .logo {
        height: 40px;
        height: 40px;
        margin-right: 20px; } }
    @media (max-width: 575px) {
      .navbar .left .logo {
        height: 30px;
        height: 30px; } }
  .navbar .left ul {
    border-left: 1px solid #ccc;
    padding: 3px 10px 3px 10px; }
    @media (max-width: 1200px) {
      .navbar .left ul {
        padding: 0px 10px 0px 10px; } }
    .navbar .left ul li {
      margin-right: 30px;
      padding: 10px  5px;
      color: #002e6d;
      font-weight: 600;
      cursor: pointer; }
      @media (max-width: 1200px) {
        .navbar .left ul li {
          padding: 6px  5px; } }
      .navbar .left ul li.active {
        font-weight: 700;
        border-bottom: 1px solid #002E6D; }
      @media (max-width: 575px) {
        .navbar .left ul li.box {
          display: none; } }
  @media (max-width: 1200px) {
    .navbar .center {
      display: none; } }
  .navbar .right {
    color: #002e6d;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .navbar .right span {
      display: flex;
      margin-left: 15px; }
      @media (max-width: 1200px) {
        .navbar .right span {
          display: none; } }
    .navbar .right .line {
      height: 30px;
      width: 1px;
      background: #ccc;
      margin: 0 10px;
      display: none; }
      @media (max-width: 1200px) {
        .navbar .right .line {
          display: flex; } }
    .navbar .right .search {
      display: none; }
      @media (max-width: 1200px) {
        .navbar .right .search {
          display: block; } }

main {
  margin-top: 88px;
  padding-bottom: 50px;
  position: relative; }
  @media (max-width: 1200px) {
    main {
      margin-top: 55px; } }
  @media (max-width: 767px) {
    main {
      margin-top: 60px; } }
  main .yellow {
    position: absolute;
    z-index: -1;
    background: #FFCD00;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 150%;
    border-bottom-left-radius: 150%;
    border-bottom-radius: 150%; }
  main .title {
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 130px; }
    @media (max-width: 767px) {
      main .title {
        padding-left: 15px;
        padding-right: 15px; } }
    main .title h1 {
      font-weight: 400;
      color: #002E6D;
      border-bottom: 3px solid #FFCD00;
      display: flex;
      padding-bottom: 7px; }
  main .track {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 7px;
    position: relative;
    margin-bottom: 20px; }
    main .track .old {
      display: flex;
      align-items: start; }
      main .track .old p {
        margin: 0;
        line-height: 20px;
        color: #333333;
        margin-left: 10px; }
  main .login {
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    background: white;
    border-radius: 7px;
    position: relative; }
    @media (max-width: 767px) {
      main .login {
        padding: 30px 15px; } }
    main .login .steps {
      display: flex;
      flex-direction: column; }
      main .login .steps ul {
        width: 100%; }
        main .login .steps ul li {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center; }
          main .login .steps ul li p {
            margin-bottom: 0;
            font-size: 13px; }
    main .login .loading {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      z-index: 11111;
      background: rgba(252, 252, 252, 0.7);
      left: 0;
      right: 0;
      bottom: 0;
      top: 0; }
      main .login .loading .spinner-border {
        color: #FFC905; }
      main .login .loading .allow {
        font-size: 14px;
        margin: 0 auto;
        color: rgba(0, 0, 0, 0.8); }
    main .login.dodg {
      background: white;
      max-width: 900px; }
    @media (max-width: 767px) {
      main .login.shadow {
        box-shadow: none; } }
    main .login .steps {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px; }
      main .login .steps span {
        width: 33%;
        background: #ccc;
        height: 4px; }
        main .login .steps span.green {
          background: #2FCC71; }
        main .login .steps span.yellow {
          position: relative; }
          main .login .steps span.yellow div {
            background: #FFCC00;
            position: absolute;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            color: white;
            border: 5px solid #EEEEEE;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 14px;
            right: -14px;
            top: -14px; }
    main .login .nada {
      background: #C3E4EB;
      padding: 15px;
      border-radius: 5px; }
      main .login .nada li {
        font-size: 15px;
        font-weight: 600;
        color: #052C65; }
    main .login a .btn {
      padding: 10px 15px;
      margin-top: 30px;
      color: #002E6D;
      background: #FFCD00;
      font-weight: 600;
      border-color: #b38f00; }
      main .login a .btn:focus {
        box-shadow: none; }
    main .login form .all {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main .login form .all .soso {
        width: 48.5%;
        position: relative; }
        main .login form .all .soso img {
          position: absolute;
          width: 40px;
          right: 10px;
          top: 11px; }
    main .login form .spopo {
      position: relative; }
      main .login form .spopo img {
        position: absolute;
        right: 10px;
        top: 7px; }
    main .login form .all {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 767px) {
        main .login form .all {
          display: block; } }
      main .login form .all .colab {
        width: 23.5%; }
        @media (max-width: 767px) {
          main .login form .all .colab {
            width: 100%; } }
      main .login form .all .cola {
        width: 49%; }
        @media (max-width: 767px) {
          main .login form .all .cola {
            width: 100%; } }
      main .login form .all .scoda {
        width: 74.5%; }
        @media (max-width: 767px) {
          main .login form .all .scoda {
            width: 100%; } }
    main .login form .form-group {
      position: relative; }
    main .login form .form-group input {
      font-size: 15px;
      padding: 1.05882rem 0.84118rem 0;
      outline: none;
      background: #fff;
      border: 1px solid #949494;
      width: 100%;
      border-bottom: 1px solid #FFCD00;
      border-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 55px;
      color: #999; }
      main .login form .form-group input:hover {
        border-bottom: 2px solid #ffcd00; }
    main .login form select {
      font-size: 15px;
      outline: none;
      border: 1px solid #949494;
      width: 100%;
      border-bottom: 1px solid #FFCD00;
      border-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 55px;
      color: #999; }
    main .login form .form-group input:focus {
      box-shadow: none;
      border-color: #949494;
      border-bottom: 2px solid #002e6d;
      background: #fff; }
    main .login form .form-group label {
      position: absolute;
      top: 15px;
      left: 0.84118rem;
      pointer-events: none;
      transition: .3s;
      font-size: 16px;
      padding-top: 0;
      color: #86868b; }
    main .login form .form-group input:focus ~ label,
    main .login form .form-group input:valid ~ label {
      top: 6px;
      left: 0.84118rem;
      font-size: 12px;
      color: #002e6d;
      font-weight: 500; }
    main .login form .btn {
      padding: 10px 15px;
      margin-top: 30px;
      color: #002E6D;
      background: #FFCD00;
      font-weight: 600;
      border-color: #b38f00; }
      main .login form .btn:focus {
        box-shadow: none; }
      @media (max-width: 400px) {
        main .login form .btn {
          width: 100%; } }
  main .btns {
    margin: 0 auto;
    max-width: 900px;
    border-radius: 7px;
    position: relative;
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    @media (max-width: 575px) {
      main .btns {
        flex-direction: column; } }
    main .btns a {
      font-weight: 700;
      text-decoration: none;
      color: #002b67;
      order: 1; }
      @media (max-width: 575px) {
        main .btns a {
          order: 2; } }
    main .btns .btn {
      order: 2;
      padding: 10px 15px;
      margin-top: 30px;
      color: #002E6D;
      background: #FFCD00;
      font-weight: 600;
      border-color: #b38f00;
      margin-bottom: 20px; }
      @media (max-width: 575px) {
        main .btns .btn {
          order: 1; } }
      main .btns .btn:focus {
        box-shadow: none; }
      @media (max-width: 400px) {
        main .btns .btn {
          width: 100%; } }

.fotter {
  padding: 0 10px;
  padding-top: 60px; }
  .fotter .xx ul li {
    color: #002E6D;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer; }
    .fotter .xx ul li:hover {
      text-decoration: underline; }
    @media (max-width: 991px) {
      .fotter .xx ul li.dd {
        display: none; } }
    @media (max-width: 991px) {
      .fotter .xx ul li.ss {
        margin-top: 20px; } }
    .fotter .xx ul li.active {
      font-size: 26px;
      color: black;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.9);
      cursor: text;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (max-width: 991px) {
        .fotter .xx ul li.active {
          font-size: 18px;
          border-bottom: 1px solid #ccc;
          padding: 15px 0;
          margin-bottom: 0;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8); } }
      @media (max-width: 991px) {
        .fotter .xx ul li.active .cask {
          width: 25px; } }
      .fotter .xx ul li.active img {
        display: none; }
        @media (max-width: 991px) {
          .fotter .xx ul li.active img {
            display: block; } }
      .fotter .xx ul li.active:hover {
        text-decoration: none; }
  .fotter .imgs {
    flex-wrap: wrap; }
    .fotter .imgs img {
      margin-right: 15px; }
  .fotter .acht ul li {
    width: 56px;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border: 1px solid #CBCBCB; }

.fot {
  background: #333333;
  padding: 20px; }
  @media (max-width: 767px) {
    .fot {
      padding: 20px 10px; } }
  .fot .container {
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      .fot .container {
        display: block; } }
    .fot .container .asd {
      margin-left: 40px; }
      @media (max-width: 991px) {
        .fot .container .asd {
          margin-top: 30px;
          margin-left: 0px; } }
      .fot .container .asd p {
        margin-bottom: 0;
        color: #cbcbcb;
        font-size: 14px; }
        @media (max-width: 991px) {
          .fot .container .asd p {
            font-size: 12px; } }
      .fot .container .asd ul {
        color: white;
        margin-bottom: 0; }
        @media (max-width: 991px) {
          .fot .container .asd ul {
            display: block; } }
        .fot .container .asd ul li {
          margin-right: 40px;
          margin-bottom: 20px; }
          @media (max-width: 991px) {
            .fot .container .asd ul li {
              font-size: 12px;
              margin-bottom: 15px; } }

.facture {
  margin-top: 120px;
  margin-bottom: 100px; }
  .facture h2 {
    font-weight: 300;
    color: #002E6D;
    display: flex;
    padding-bottom: 7px; }
  .facture .abcd {
    margin-left: 30px; }
    @media (max-width: 767px) {
      .facture .abcd {
        margin-left: 0; } }
  @media (max-width: 767px) {
    .facture .active {
      display: none; } }
  .facture .information {
    padding: 20px; }
    @media (max-width: 767px) {
      .facture .information {
        padding: 20px 0; } }
    .facture .information .apps {
      margin-top: 30px; }
      .facture .information .apps small {
        font-weight: 700; }
      .facture .information .apps h5 {
        font-weight: 700; }
      .facture .information .apps ul {
        width: 100%;
        justify-content: space-between; }
        .facture .information .apps ul li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          border-radius: 5px;
          border: 2px solid #002e6d;
          width: 48.5%;
          font-weight: 700;
          box-shadow: 0 0 10px rgba(62, 61, 61, 0.1), 0 0 5px rgba(62, 61, 61, 0.1);
          color: #002E6D; }
          @media (max-width: 767px) {
            .facture .information .apps ul li {
              width: 100%; } }
    .facture .information .fan {
      border: 1px solid #002E6D;
      border-radius: 10px;
      margin-top: 30px;
      overflow: hidden; }
      .facture .information .fan .top {
        padding: 10px 15px;
        background: #002E6D;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .facture .information .fan .top span {
          color: white;
          font-size: 13px; }
      .facture .information .fan .boy {
        padding: 20px 50px;
        display: flex;
        align-items: center; }
        @media (max-width: 991px) {
          .facture .information .fan .boy {
            display: block;
            padding: 20px; } }
        .facture .information .fan .boy img {
          margin-right: 20px; }
          @media (max-width: 991px) {
            .facture .information .fan .boy img {
              margin-bottom: 10px; } }
        .facture .information .fan .boy .ono {
          display: flex;
          justify-content: space-between; }
          .facture .information .fan .boy .ono span {
            max-width: 80%;
            font-size: 13px;
            line-height: 16px;
            font-weight: 700; }
    .facture .information .mask {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 2px solid #ddd;
      width: 100%;
      padding-bottom: 2px; }
      .facture .information .mask a {
        color: black;
        font-weight: 700;
        font-size: 15px; }
  .facture .payement {
    padding: 20px; }
    @media (max-width: 767px) {
      .facture .payement {
        padding: 20px 0; } }
    .facture .payement .top {
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      border: 1px solid #002E6D; }
      .facture .payement .top img {
        width: 300px; }
    .facture .payement .format {
      padding: 30px 20px; }
      .facture .payement .format h5 {
        font-weight: 700; }
      .facture .payement .format ul {
        justify-content: space-between; }
        .facture .payement .format ul li {
          font-weight: 400;
          font-size: 14px;
          color: #333; }
      .facture .payement .format .btn {
        color: #002e6d;
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;
        padding: 14px;
        box-sizing: border-box;
        border: 1px solid #b38f00;
        border-radius: 4px;
        background-color: #ffcd00;
        cursor: pointer;
        outline: none !important;
        box-shadow: none !important;
        text-transform: uppercase;
        width: 100%;
        font-size: 15px;
        font-weight: 600; }
        .facture .payement .format .btn:hover {
          background: #DBB000; }

.loading {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 11111;
  background: rgba(252, 252, 252, 0.7);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .loading .spinner-border {
    color: #FFC905; }
  .loading .allow {
    font-size: 14px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=atlas.css.map */
